.site-footer,
.site-header {
  background-color: #7F1A5A;
}
.site-nav {
  float: none !important;
  text-align: center;
}
@media screen and (max-width: 600px) {
.site-nav {
  background-color: #7F1A5A;
}
}
.site-title {
  float: none !important;
  text-align: center;  
}
.site-title img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
}
.footer-col-wrapper,
.site-title,
.site-nav .page-link {
  color: #fff !important;
}
